@{ Layout = "_Layout";}
@using Foxxit.Models.ViewModels
@model PasswordChangeViewModel

@using (Html.BeginForm("PasswordChange", "Account", FormMethod.Post))
{
    <div>
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "new password" })
    </div>
    <p>@Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "text-danger" })</p>

    <div>
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "confirm new password" })
    </div>

    <p>@Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" })</p>

    <div>
        @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control", @placeholder = "current password" })
    </div>
    <p>@Html.ValidationMessageFor(m => m.CurrentPassword, null, new { @class = "text-danger" })</p>

    <br>
    <input class="button" type="submit" name="CHANGE PASSWORD" />
}