@using Foxxit.Models.DTO
@using Foxxit.Enums
@model SearchReturnModel

@if (Model.SearchedCategory.Equals(nameof(SearchCategory.All)))
{
    <article>
        <div class="filtered_container">

            <h2>Found SubReddits</h2>
            @foreach (var subReddit in Model.SubReddits)
            {
                <div class="article_item"><a asp-action="ViewSubReddit" asp-controller="SubReddit" asp-route-subRedditId="@subReddit.Id">@subReddit.Name</a></div>
            }
        </div>
    </article>

    <article>
        <div class="filtered_container">

            <h2>Found Posts</h2>
            @foreach (var post in Model.Posts)
            {
                <div class="article_item">@Html.ActionLink($"{post.Title} in {post.SubReddit.Name}", "ViewSubReddit", "Foxxit", new { subRedditId = post.SubReddit.Id })</div>
            }
        </div>
    </article>

    <article>
        <div class="filtered_container">

            <h2>Found Comments</h2>
            @foreach (var comment in Model.Comments)
            {
                <div class="article_item">@Html.ActionLink($"{comment.Text.Substring(0, 100)} on {comment.Post.Title}", "ViewSubReddit", "Foxxit", new { subRedditId = comment.Post.Id })</div>
            }
        </div>
    </article>
}

@if (Model.SearchedCategory.Equals(nameof(SearchCategory.SubReddit)))
{
    <article>
        <div class="filtered_container">

            <h2>Found SubReddits</h2>
            @foreach (var subReddit in Model.SubReddits)
            {
                <div class="article_item">@Html.ActionLink($"{subReddit.Name}", "ViewSubReddit", "Foxxit", new { subRedditId = subReddit.Id })</div>
            }
        </div>
    </article>
}

@if (Model.SearchedCategory.Equals(nameof(SearchCategory.Post)))
{
    <article>
        <div class="filtered_container">

            <h2>Found Posts</h2>
            @foreach (var post in Model.Posts)
            {
                <div class="article_item">@Html.ActionLink($"{post.Title} in {post.SubReddit.Name}", "ViewSubReddit", "Foxxit", new { subRedditId = post.SubReddit.Id })</div>
            }
        </div>
    </article>
}

@if (Model.SearchedCategory.Equals(nameof(SearchCategory.Comment)))
{
    <article>
        <div class="filtered_container">

            <h2>Found Comments</h2>
            @foreach (var comment in Model.Comments)
            {
                <div class="article_item">@Html.ActionLink($"{comment.Text.Substring(0, 100)} on {comment.Post.Title}", "ViewSubReddit", "Foxxit", new { subRedditId = comment.Post.Id })</div>
            }
        </div>
    </article>
}