@using Foxxit.Models.ViewModels;
@model MainPageViewModel

@{
    var displayUser = String.Empty;

    if (@Model.CurrentUser is null)
    {
        displayUser = "Login";
    }
    else
    {
        displayUser = @Model.CurrentUser.UserName.Contains('@')
                              ? @Model.CurrentUser.UserName.Split('@')[0]
                              : @Model.CurrentUser.UserName;
        displayUser = displayUser.Length > 16
                ? displayUser.Substring(0, 13) + "..."
                : displayUser;
    }

}

<div class="header_left">
    <div class="header_logo">
        <a href="/"><img class="fourtyfour" src="~/assets/logo.png" alt="Foxxit logo"></a>
    </div>

    <div class="header_subReddits_container">
        <form asp-action="SubReddit" asp-controller="Foxxit" method="get">
            <select class="header_inputs" name="subRedditId" id="header_subReddits" onchange="this.form.submit()">
                <option class="header_options">SubReddits</option>
                @foreach (var subReddit in Model.SubReddits)
                {
                    <option class="header_options" value="@subReddit.Id">@subReddit.Name</option>
                }
            </select>
        </form>
    </div>

    <div class="header_search_container">
        <form asp-action="Search" asp-controller="Foxxit">
            <input name="keyword" class="header_inputs" type="text" id="header_search" placeholder="search for...">
            <img src="~/assets/search.png" alt="Search" class="eighteen" id="header_search_icon">

            <select class="header_inputs header_sections" name="category" id="header_search_category">
                <option value="All">in all</option>
                <option value="SubReddit">in subReddits</option>
                <option value="Post">in posts</option>
                <option value="Comment">in comments</option>
            </select>
            <input type="submit" hidden />
        </form>
    </div>
</div>
<div class="header_right">
    <div class="header_right_one">
        <!-- CHAT -->
        <i class="fa fa-comments fa-lg header_icons"></i>

        <!-- MESSAGE BOX -->
        @if (Model.CurrentUser is not null)
        {
            @if (Model.CurrentUser.ReceivedNotifications.Any(n => n.HasBeenRead))
            {
                <a asp-action="Notifications" asp-controller="User"><i class="fa fa-envelope-open fa-lg header_icons"></i></a>
            }
        }
        else
        {
            <a asp-action="Notifications" asp-controller="User"><i class="fa fa-envelope fa-lg header_icons"></i></a>
        }
    </div>

    <div class="header_right_two">
        @if (Model.CurrentUser is null)
        {
            <a href="/account/login">@displayUser</a>
        }
        else
        {
            @displayUser
        }
    </div>

    <div class="header_right_three dropdown">
        <button class="dropbtn"><i class="fa fa-cog fa-lg"></i></button>
        <div class="dropdown-content">
            <a href="/account/username-change">Change username</a>
            <a href="/account/password-change">Change password</a>
            <a href="/account/logout/">Logout</a>
        </div>
    </div>
</div>