@using Foxxit.Models.ViewModels
@model PostViewModel

{
<article>

    <div class="article_left">
        <div class="post_vote">
            <form asp-action="Vote" asp-controller="Home">
                <input type="hidden" value="up" name="voteType" />
                <input type="hidden" value="@post.Id" name="postId" />
                <button type="submit"><i class="fa fa-chevron-up fa-lg"></i></button>
            </form>
        </div>
        <div class="post_vote">@post.Votes.Count()</div>

        <div class="post_vote">
            <form asp-action="Vote" asp-controller="Home">
                <input type="hidden" value="down" name="voteType" />
                <input type="hidden" value="@post.Id" name="postId" />
                <button type="submit"><i class="fa fa-chevron-down fa-lg"></i></button>
            </form>
        </div>
    </div>

    <div class="article_middle">
        <div class="article_header">
            <div class="article_text">
                <h4>@post.Title</h4>
                <p class="article_text_info">Posted by @post.User.UserName @post.TimeStamp() ago in @post.SubReddit.Name</p>
            </div>
            <div class="not_button">@Html.ActionLink("JOIN", "JoinSubReddit", "Home", new { subRedditId = post.SubRedditId })</div>
        </div>

        <div class="article_content">
            @if (post.Text is null)
            {
                <img width="100%" src="@post.ImageURL" alt="@post.Title" />
            }
            else
            {
                <p>@post.Text</p>
            }
        </div>

        <div class="article_footer">
            <i class="fa fa-comment"></i>
            <div class="vote">@Html.ActionLink($"{post.Comments.Count()} COMMENTS", "Post", "Home", new { postId = post.Id })</div>
        </div>
    </div>

    <div class="article_right">
    </div>
</article>