@using Foxxit.Extensions
@using Foxxit.Models.ViewModels
@using Foxxit.Enums
@{ Layout = "_Layout"; }
@model MainPageViewModel

<div class="section_intro">
    <div class="subreddit_header">
        <div><h1>@Model.CurrentSubReddit.Name</h1></div>
        <div class="section_intro_buttons">
            <a class="@("sorting_button section_intro_button" + (Model.SortMethod == SortMethod.Hot ? " selected_button" : ""))" asp-action="SubReddit" asp-controller="Foxxit" asp-route-sortMethod="@SortMethod.Hot" asp-route-subRedditId="@Model.CurrentSubReddit.Id">HOT</a>
            <a class="@("sorting_button section_intro_button" + (Model.SortMethod == SortMethod.New ? " selected_button" : ""))" asp-action="SubReddit" asp-controller="Foxxit" asp-route-sortMethod="@SortMethod.New" asp-route-subRedditId="@Model.CurrentSubReddit.Id">NEW</a>
            <a class="@("sorting_button section_intro_button" + (Model.SortMethod == SortMethod.Top ? " selected_button" : ""))" asp-action="SubReddit" asp-controller="Foxxit" asp-route-sortMethod="@SortMethod.Top" asp-route-subRedditId="@Model.CurrentSubReddit.Id">TOP</a>
        </div>
    </div>
    <div class="create_post">
        <a asp-action="NewPost" asp-controller="Foxxit" asp-route-subRedditId="@Model.CurrentSubReddit.Id" class="biggest_button not_button bigger_button light_button">CREATE POST</a>
    </div>
</div>

@foreach (var post in Model.Posts)
{
    //TODO whole row has to be a link
<article>
    <div class="article_left">
        @*<div class="post_vote">
                <form asp-action="Vote" asp-controller="Home">
                    <input type="hidden" value="1" name="value" />
                    <input type="hidden" value="@post.Id" name="postBaseId" />
                    <button type="submit"><i class="fa fa-chevron-up fa-lg"></i></button>
                </form>
            </div>
            <div class="post_vote">@post.Votes.Count</div>

            <div class="post_vote">
                <form asp-action="Vote" asp-controller="Home">
                    <input type="hidden" value="-1" name="value" />
                    <input type="hidden" value="@post.Id" name="postBaseId" />
                    <button type="submit" id="vote-btn" data-postid="{{ @post.Id }}"> Upvote <i class="fa fa-chevron-down fa-lg"></i></button>
                </form>
            </div>
        </div>*@

        @await Html.PartialAsync("_VotesPartial", Model.VoteViewModel)

    <div class="article_middle">
        <div class="article_header">
            <div class="article_text">
                <h4><a href="/post/@post.Id">@post.Title</a></h4>
                <p class="article_text_info">Posted by @post.User.UserName @post.TimeStamp() ago in @post.SubReddit.Name</p>
            </div>
        </div>
    </div>

    <div class="article_footer">
        <div class="posts_list_row_right">
            <a asp-action="Post" asp-controller="Home" asp-route-PostId="@post.Id">
                <div class="comments">
                    <i class="fa fa-comment icon"></i>
                    @post.Comments.Count
                </div>
            </a>
        </div>
    </div>
</article>}